
  
.game-page {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #1b1b1d;
    padding: 20px;
    width: 100vw;
    margin-top:20px;
    height: calc(100vh - 70px); /* Adjust height to account for the navbar */
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
  
.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
  
.game-header h1 {
    font-size: 2.5rem;
    margin: 0;
}
  
.game-content {
    display: flex;
    flex: 1; /* Takes up all remaining space */
    width: 100%;
    height: 100%;
    justify-content: space-between; /* Distribute space between content */
    overflow-y: auto;
}
  
.game-image {
    flex: 2;
    position: relative;
    max-width: 800px;
    width: 100%;
    overflow: hidden;
}
  
.game-image img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 10px;
}
  
.thumbnails {
    display: flex;
    margin-top: 10px;
    overflow-x: auto;
    padding-top: 10px; /* Added padding to ensure it doesn't overlap */
}

.thumbnails img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #444;
    transition: border-color 0.3s ease;
}

.thumbnails img.active {
    border-color: #5A67D8;
}
  
.game-details {
    flex: 1;
    margin-left: 20px;
    width: 100%;
    overflow-y: auto;
}
  
.age-rating, .purchase-info, .meta-info, .features {
    margin-bottom: 20px;
}
  
.price {
    font-size: 24px;
    font-weight: bold;
}
  
.pre-purchase {
    background-color: #5A67D8;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
}
  
button {
    background-color: black ;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
  
.features span {
    display: inline-block;
    background-color: #444;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
}
  
.game-description {
    margin-top: 20px;
    width: 100%;
}
  
.game-description p {
    margin-bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
}
  
.genres span {
    display: inline-block;
    background-color: #444;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.game-slot {
    display: flex;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer; /* Make the game slots appear clickable */
  }
  
  .game-slot:hover {
    background-color: #444; /* Optional: Add a hover effect */
  }
  
  .play-button {
    background-color: #28a745; /* Green for play */
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .play-button:hover {
    background-color: #218838;
  }
  