* {
    margin: 0;
    padding: 0;
  
  }
  
  html,body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #1b1b1d;
  }
  

  .navbar {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: #333; 
    z-index: 1000; 
    padding: 10px 0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  }
  

  .nav-list {
    list-style-type: none;
    display: flex; 
    justify-content: center;
  }
  

  .nav-item {
    margin: 0 15px;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold; 
    text-decoration: none; 
    transition: background-color 0.3s ease; 
  }
  

  .nav-item:hover {
    background-color: #555; 
  }

  .nav-right {
    margin-left: auto; 
    display: flex; 
}

  .nav-right .nav-item {
    padding: 10px 15px; 
    transition: background-color 0.3s ease; 
}
  
  @media (max-width: 768px) {
    .nav-list {
        flex-wrap: wrap; 
        justify-content: space-around;
    }

    .nav-item {
        margin: 5px 0;
        padding: 5px 10px;
        font-size: 0.8rem;
    }

    .nav-right {
        flex-direction: row; 
        margin-left: 0;
    }

    .nav-right .nav-item {
        padding: 5px 10px;
    }
}
  
  .main-app {
    padding-top: 40px;
  }
  