  .shop-profile-page {
    color: white;
    background-color: #1b1b1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .shop-profile-page h1 {
    font-size: 2.5rem;
    margin: 20px 0;
  }
  
  .shop-profile {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    margin: auto;
  }
  
  .shop-profile-field {
    margin-bottom: 20px;
  }
  
  .shop-profile-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    
  }
  
  .shop-profile-field input {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
  }

  #ShowPasswordInput{
    margin-top: 10px;
  }
  
  .shop-profile-field input[disabled] {
    background-color: #555;
    cursor: not-allowed;
  }
  
  .shop-profile-button {
    background-color: #2a348d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    min-width: 120px;
  }
  
  button:hover {
    background-color: #6b78e8;
  }
  

  @media (max-width: 768px) {
    .shop-profile{
      width: 90%;
    }
  }